<h2>Выберите действие</h2>
<div class="list-group">
  <a href="/new_book" class="list-group-item list-group-item-action">Добавить книгу</a>
  <a href="/remove_book" class="list-group-item list-group-item-action">Удалить книгу</a>
  <a href="/new_stationery" class="list-group-item list-group-item-action">Добавить канцелярский товар</a>
  <a href="/remove_stationery" class="list-group-item list-group-item-action">Удалить канцелярский товар</a>
</div>