<form method="post">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Выберите товар, который хотите удалить, и введите его индекс</h2>
        <ol>
          <% @goods.each do |pos| %>
            <li><%= pos%></li>
          <% end %>
        </ol>
        <input type="number" class="form-control" id="index" name="index" placeholder="Введите номер">
        <% if @errors %>
          <%= @errors%>
        <% end %>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Удалить из списка</button>
    </div>  
  </div> 
</form>