<h2>Что бы вы хотели добавить?</h2>
<div class="list-group">
  <a href="/add_new_book_shoplist" class="list-group-item list-group-item-action">Книгу</a>
  <a href="#" class="list-group-item list-group-item-action">Канцелярскую принадлежность</a>
  <a href="#" class="list-group-item list-group-item-action">Закончить формировать список</a>
</div>