<form method="post">
  <div class="form-group col-md-5">
      <label for="search">Поиск по</label>
      <select class="form-control" id="search" name="search">
      <option>Жанру</option>
      <option>Названию</option>
      </select>
  </div>
  <div class="form-group col-md-5">
      <label for="value">Жанр или название</label>
      <input type="text" class="form-control" id="value" name="value" placeholder="Жанр или название">
      <% if @errors %>
        <%= @errors[:space] %>
      <% end %>
  </div>
  <div class="form-group col-md-5">
    <button type="submit" class="btn btn-primary">Найти</button>
  </div>
</form>