<h2>Список покупок</h2>
<div class="list-group">
  <a href="/show_shoplist" class="list-group-item list-group-item-action">Вывести список</a>
  <a href="/new_shoplist" class="list-group-item list-group-item-action">Добавить в список</a>
  <a href="#" class="list-group-item list-group-item-action">Удалить из списка</a>
  <a href="#" class="list-group-item list-group-item-action">Оплатить</a>
</div>