<form method="post">
  <div class="container">
    <div class="row">
      <div class="col">
      <h2>Все списки покупок</h2>
        <ol>
          <% @lists.each do |pos| %>
            <li>
              <%= pos.info%>
              Итого:<%= pos.total%>
            </li>        
          <% end %>
        </ol>
        <button type="submit" class="btn btn-primary">Назад</button>
      </div>
    </div>
  </div>
</form>