
<div class="container">
  <div class="row">
    <div class="col">
    <h2>Список покупок</h2>
      <ol>
        <% @shoplist.each do |pos| %>
          <li><%= pos%></li>        
        <% end %>
        <h4>Общая стоимость: <%= @total%></h4>
      </ol>
    </div>
  </div>
</div>